@model IEnumerable<CarTARge22.Models.Cars.CarsIndexViewModel>

    @{
        int rowNumber = 1;
    }

<body style="background-image: url(https://images.pexels.com/photos/386025/pexels-photo-386025.jpeg); background-size:cover; opacity: 0.8;">
    <div style="padding: 20px">
    <form method="post" class="form" style="padding: 30px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Name</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Year</th>
                    <th scope="col">Transmission</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var cars in Model)
                    {
                        <tr>
                            <td>@rowNumber</td>
                            <td>@cars.Name</td>
                            <td>@cars.Brand</td>
                            <td>@cars.Year</td>
                            <td>@cars.Transmission</td>
                            <td>
                                <a asp-action="details" asp-controller="cars" asp-route-id="@cars.Id" class="btn btn-success">Details</a>
                                <a asp-action="update" asp-controller="cars" asp-route-id="@cars.Id" class="btn btn-warning">Update</a>
                                <a asp-action="delete" asp-controller="cars" asp-route-id="@cars.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        rowNumber += 1;
                    }
                }
                else
                {
                    <p>No data</p>
                }
            </tbody>
        </table>
    </form>
    <div style="padding-left:5%;">
            <a asp-action="create" asp-controller="cars" type="submit" class="btn" style="background-color:#F5CB9F; padding: 10px 20px; font-weight: 800">CREATE</a>

    </div>

</body>